<!DOCTYPE html>
<html lang="en">

<body>
<script type="text/javascript">
function update_bubbleplot(){
   min_calls   = Math.exp($("#min_slider").slider("value"));
   max_calls   = Math.exp($("#max_slider").slider("value"));
   checked     = document.getElementById("diag_check").checked;
   scaling_fac = Math.exp($("#size_slider").slider("value"));
  
   d3.select("div#chart1").selectAll("circle").attr("r", function(d, i){
    if (d3.select(this).attr("z") < min_calls || d3.select(this).attr("z") > max_calls)
         return 0;
    else if (d3.select(this).attr("x") == d3.select(this).attr("y"))
       if (checked)
          return scaling_fac*Math.sqrt(+d3.select(this).attr("z"));
       else
          return 0;
    else {
       return scaling_fac*Math.sqrt(+d3.select(this).attr("z"));
    }
   });

var sizes = [];
d3.select("div#chart1").selectAll("circle").attr("r", function(d, i){
    sizes.push(+d3.select(this).attr("z"));
    return d3.select(this).attr("r");
});
max_size = d3.max(sizes);
min_size = d3.min(sizes)
}

</script>


<div id="bubble_plot_container">
  <div class="qtlcharts" id="chart1" style="display: inline-block">
     <svg style="height: 380px; width: 420px;"></svg>
  </div>
  <div class="row">
    <div id="size_slider" style="width: 40%; display: inline-block"></div>
    <div id="size_label"  style="width: 15%; display: inline-block"> <font color="blue" size="2">Size Scale:</font></div>
    <div id="size_value"  style="width: 5%; display: inline-block">1.0 </div>
  </div>
  <div class="row">
    <div id="min_slider"  style="width: 40%; display: inline-block"></div> 
    <div id="min_label"   style="width: 15%; display: inline-block">  <font color="blue" size="2">Min Calls:</font></div>
    <div id="min_value"   style="width: 5%; display: inline-block">1.0 </div>
  </div>
  <div class="row">
    <div id="max_slider"  style="width: 40%; display: inline-block"></div>
    <div id="max_label"   style="width: 15%; display: inline-block">  <font color="blue" size="2">Max Calls:</font></div>
    <div id="max_value"   style="width: 5%; display: inline-block">1.0 </div>
  </div>
  <form action="">
    <input type="checkbox" id="diag_check" onchange = "update_bubbleplot()"> Display matching calls (diagonal) <br>
  </form>
</div>


<script type="text/javascript"> 

checked = document.getElementById("diag_check").checked = true;
draw_bubbleplot(true, 1, 10000); 
scaling_fac = 1.0;
$(function() { $("#size_slider").slider({min:Math.log(0.25), max:Math.log(1024),   value:Math.log(scaling_fac), step:Math.log(2)}); });
$(function() { $("#min_slider" ).slider({min:Math.log(1),    max:Math.log(100000), value:Math.log(1),           step:Math.log(100000)/15}); });
$(function() { $("#max_slider" ).slider({min:Math.log(1),    max:Math.log(100000), value:Math.log(100000),      step:Math.log(100000)/15}); });

// Set slider label values
$('#size_value').html((1.0).toFixed(3));
$('#min_value' ).html(Math.ceil(Math.exp(Math.log(1))));
$('#max_value' ).html(Math.floor(Math.exp(Math.log(100000))));

$("#size_slider").on("slidestop", function(event, ui) { return update_bubbleplot(); });
$("#min_slider").on("slidestop", function(event, ui)  { return update_bubbleplot(); });
$("#max_slider").on("slidestop", function(event, ui)  { return update_bubbleplot(); });
$("#size_slider").on("slide", function(event, ui) {  $('#size_value').html(Math.exp(ui.value).toFixed(3));  });
$("#min_slider" ).on("slide", function(event, ui) {  $('#min_value' ).html(Math.ceil(Math.exp(ui.value)));  });
$("#max_slider" ).on("slide", function(event, ui) {  $('#max_value' ).html(Math.floor(Math.exp(ui.value))); });
</script>

</body>
</html>
